* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #223554;
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  margin-top: 10%;
}

.accordion {
  width: 600px;
  margin: auto;
  max-width: 80%;
  border-bottom: 2px solid white;
  overflow: hidden;
  height: 44px;
  transition: 500ms ease-in-out;
}

.accordion-head {
  justify-content: space-between;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  cursor: pointer;
}

.accordion-body {
  height: 100px;
  padding: 5px 20px;
}
